<div class="">
    <div class="row">
        <page-title>
            <h5>Fluxo de Caixa</h5>
        </page-title>
        <div class="card-panel z-depth-5">
            <div v-if="hasCashFlows">
                <table class="bordered striped highlight responsive-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th v-if="!hasFirstMonthYear">
                            {{FirstMonthYear | monthYear}}
                        </th>
                        <th v-for="o in monthsList">
                            {{o.month_year | monthYear}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Saldo final</strong></td>
                        <td>{{firstBalance}}</td>
                        <td>{{secoundBalance}}</td>
                        <td v-for="o in monthsListBalanceFinal">
                            Texto
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>