<div class="">
    <div class="row">
        <page-title>
            <h5>Fluxo de Caixa</h5>
        </page-title>
        <div class="card-panel z-depth-5">
            <div v-if="hasCashFlows">
                <table class="bordered striped highlight responsive-table grey-text text-darken-3">
                    <thead>
                    <tr class="green lighten-4">
                        <th class="text-csv"></th>
                        <th v-if="!hasFirstMonthYear" class="text-csv">
                            {{FirstMonthYear | monthYear}}
                        </th>
                        <th v-for="o in monthsList" class="text-csv" :class="{'green lighten-2': isCurrentMonthYear(o.month_year)}">
                            {{o.month_year | monthYear}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="green lighten-2">
                        <td><strong class="text-csv">Saldo final</strong></td>
                        <td class="text-csv">{{firstBalance}}</td>
                        <td class="text-csv">{{secoundBalance}}</td>
                        <td class="text-csv" v-for="(key, o) in monthsListBalanceFinal">
                            {{balance(key)}}
                        </td>
                    </tr>
                    <tr >
                        <td><strong class="text-csv">Saldo mês anterior</strong></td>
                        <td class="text-csv">{{balanceBeforeFirstMonth}}</td>
                        <td class="text-csv">{{firstBalance}}</td>
                        <td class="text-csv">{{secoundBalance}}</td>
                        <td class="text-csv" v-for="(key, o) in monthsListBalancePrevious">
                            {{balance(key)}}
                        </td>
                    </tr>
                    <tr>
                        <td><strong class="text-csv">Geração de caixa</strong></td>
                        <td class="text-csv" v-if="!hasFirstMonthYear">
                            0
                        </td>
                        <td class="text-csv" v-for="o in monthsList">
                            {{o.revenues.total - o.expenses.total}}
                        </td>
                    </tr>
                    <tr class="green lighten-4">
                        <td><strong class="text-csv">Recebimentos</strong></td>
                        <td class="text-csv" v-if="!hasFirstMonthYear">
                            0
                        </td>
                        <td class="text-csv" v-for="o in monthsList">
                            {{o.revenues.total}}
                        </td>
                    </tr>
                    <tr class="text-csv" v-for="o in categoriesMonths.revenues.data">
                        <td class="text-csv">{{ o.name }}</td>
                        <td class="text-csv" v-if="!hasFirstMonthYear"></td>
                        <td class="text-csv" v-for="v in monthsList">
                            {{ categoryTotal(o,v.month_year).total }}
                        </td>
                    </tr>

                    <tr class="green lighten-4">
                        <td><strong class="text-csv">Pagamentos</strong></td>
                        <td class="text-csv" v-if="!hasFirstMonthYear">
                            0
                        </td>
                        <td v-for="o in monthsList">
                            {{o.expenses.total}}
                        </td>
                    </tr>
                    <tr class="text-csv" v-for="o in categoriesMonths.expenses.data">
                        <td class="text-csv">{{ o.name }}</td>
                        <td class="text-csv" v-if="!hasFirstMonthYear"></td>
                        <td class="text-csv" v-for="v in monthsList">
                            {{ categoryTotal(o,v.month_year).total }}
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large" @click="downloadCsv" title="Download do Flux de Caixa">
                        <i class="large material-icons">file_download</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>