
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize CSS
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

body{
  background-color: color('blue-grey', 'lighten-5');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#plan-business {
  border: none;
}

#plan-business > .collection-item{
  border: none;
}

.page-footer{
  @extend .page-footer;
  position:fixed;
  bottom:0;
  left:0;
  width:100%
}