
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;

}