
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize CSS
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

body{
  background-color: rgb(225,226,225);
}

.panel-title{
  color: rgb(46,86,86);
  background-color: rgb(46,86,86);;
}

.spinner{
  @extend .progress;
  margin: 0px;
}

.spinner-fixed{
  width: 100%;
  position: fixed;
  z-index: 998;
}

.filter-group{
  .btn{
    float: right;
    height: 3rem;
    line-height: 3rem;
  }
  .filter-wrapper{
    overflow: hidden;
    padding-right: 10px;
  }
}